.Vedio {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
  video {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
  .button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    cursor: pointer;
    h2 {
      text-transform: capitalize;
      color: yellow;
      font-size: 17px;
    }
  }
}
